In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
rf= pd.read_csv('heart.csv')
rf.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
from statistics import mean

In [7]:
import scipy.stats as norms
import scipy.stats as zscores

In [8]:
rf.Cholesterol.describe()

count    918.000000
mean     198.799564
std      109.384145
min        0.000000
25%      173.250000
50%      223.000000
75%      267.000000
max      603.000000
Name: Cholesterol, dtype: float64

In [24]:
L_limit, U_limit = rf.Cholesterol.quantile([0.001, 0.999])
L_limit, U_limit

(0.0, 567.2370000000033)

In [25]:
rf1 = rf[(rf.Cholesterol<U_limit) & (rf.Cholesterol>L_limit)]
rf1.shape

(745, 12)

In [26]:
rf.shape

(918, 12)

In [27]:
rf.shape[0] - rf1.shape[0]

173

In [30]:
rf1.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [32]:
max_limit = rf1.Cholesterol.mean() + 3*rf1.Cholesterol.std()
min_limit = rf1.Cholesterol.mean() - 3*rf1.Cholesterol.std()
max_limit, min_limit

(417.2987146588945, 71.01001017332024)

In [33]:
rf2 = rf1[(rf1.Cholesterol>min_limit) & (rf1.Cholesterol<max_limit)]
rf2.shape

(738, 12)

In [34]:
rf2.Cholesterol.describe()

count    738.000000
mean     241.735772
std       52.217184
min       85.000000
25%      207.000000
50%      236.500000
75%      274.000000
max      417.000000
Name: Cholesterol, dtype: float64

In [35]:
max_2 = rf2.MaxHR.mean() + 3*rf2.MaxHR.std()
min_2 = rf2.MaxHR.mean() - 3*rf1.MaxHR.std()
max_2, min_2

(213.80583014763658, 66.75098537570221)

In [36]:
rf3 = rf2[(rf2.MaxHR>min_2) & (rf2.MaxHR<max_2)]
rf3.shape

(738, 12)

In [37]:
max_3 = rf3.RestingBP.mean() + 3*rf3.RestingBP.std()
min_3 = rf3.RestingBP.mean() - 3*rf3.RestingBP.std()
rf4 = rf3[(rf3.RestingBP>min_3) & (rf3.RestingBP<max_3)]

In [39]:
rf4.shape

(733, 12)

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
le = LabelEncoder()

In [49]:
rf4['chest_pain_label'] = le.fit_transform(rf4['ChestPainType'])

<ipython-input-49-aaec70560533>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rf4['chest_pain_label'] = le.fit_transform(rf4['ChestPainType'])

In [52]:
rf4 = rf4.drop(['ChestPainType'], axis='columns')

In [53]:
rf4.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,chest_pain_label
0,40,M,140,289,0,Normal,172,N,0.0,Up,0,1
1,49,F,160,180,0,Normal,156,N,1.0,Flat,1,2
2,37,M,130,283,0,ST,98,N,0.0,Up,0,1
3,48,F,138,214,0,Normal,108,Y,1.5,Flat,1,0
4,54,M,150,195,0,Normal,122,N,0.0,Up,0,2

In [54]:
rf4['Sex_label'] = le.fit_transform(rf4['Sex'])
rf4['RestingECG_label'] = le.fit_transform(rf4['RestingECG'])
rf4['ExerciseAngina_label'] = le.fit_transform(rf4['ExerciseAngina'])
rf4['ST_Slope_label'] = le.fit_transform(rf4['ST_Slope'])

In [55]:
rf4 = rf4.drop(['Sex','RestingECG','ExerciseAngina','ST_Slope'], axis='columns')
rf4.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,chest_pain_label,Sex_label,RestingECG_label,ExerciseAngina_label,ST_Slope_label
0,40,140,289,0,172,0.0,0,1,1,1,0,2
1,49,160,180,0,156,1.0,1,2,0,1,0,1
2,37,130,283,0,98,0.0,0,1,1,2,0,2
3,48,138,214,0,108,1.5,1,0,0,1,1,1
4,54,150,195,0,122,0.0,0,2,1,1,0,2

In [58]:
rf4['Sex_label'].value_counts()

1    554
0    179
Name: Sex_label, dtype: int64

In [59]:
x= rf4.drop(['HeartDisease'], axis='columns')
y= rf4.HeartDisease

In [60]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaler= scaler.fit_transform(x)
x_scaler

array([[-1.35936218,  0.44066285,  0.90675373, ...,  0.10124703,
        -0.79074469,  0.98140954],
       [-0.41190182,  1.64478538, -1.17906963, ...,  0.10124703,
        -0.79074469, -0.70330519],
       [-1.6751823 , -0.16139842,  0.79193776, ...,  1.68026982,
        -0.79074469,  0.98140954],
       ...,
       [ 0.43028517, -0.16139842, -2.11673333, ...,  0.10124703,
         1.26463069, -0.70330519],
       [ 0.43028517, -0.16139842, -0.10745396, ..., -1.47777576,
        -0.79074469, -0.70330519],
       [-1.56990893,  0.3202506 , -1.2747496 , ...,  0.10124703,
        -0.79074469,  0.98140954]])

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x_scaler,y, test_size = 0.2, random_state=20)

In [62]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [63]:
model_params={
    'svm': {
        'model':svm.SVC(gamma='auto'),
        'params': {
            'C':[1,10,20],
            'kernel': ['rbf','linear']
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression': {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [64]:
from sklearn.model_selection import GridSearchCV

In [65]:
score=[]
for model_name,mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'], cv=5)
    clf.fit(x_scaler, y)
    score.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params': clf.best_params_
    })

In [66]:
import pandas as pd
df5= pd.DataFrame(score, columns=['model','best_score','best_params'])
df5

                 model  best_score                best_params
0                  svm    0.845606  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.840211       {'n_estimators': 10}
2  logistic_regression    0.842969                   {'C': 5}

In [74]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

x_pca = pca.fit_transform(x)
print(x_pca)

[[  47.36205582  -32.3868141     9.55044501]
 [ -60.38750074  -10.29355693   32.00333837]
 [  41.08434573   37.0684732   -14.91493369]
 ...
 [-110.4608708    26.33883269   -1.971927  ]
 [  -5.77147519  -32.28048149    4.83552236]
 [ -66.62956604  -32.48649175   12.84956906]]

In [75]:
x.shape

(733, 11)

In [76]:
x_pca.shape

(733, 3)

In [77]:
x_train_pca,x_test,y_train_pca,y_test= train_test_split(x_pca,y, test_size = 0.2, random_state=20)
model = LogisticRegression(max_iter=2000)
model.fit(x_train_pca,y_train_pca)

LogisticRegression(max_iter=2000)

In [86]:
model.score(x_train_pca,y_train_pca)

0.6791808873720137

In [87]:
model.score(x_test,y_test)

0.6938775510204082

In [79]:
x_train_pca,x_test,y_train_pca,y_test= train_test_split(x_pca,y, test_size = 0.2, random_state=20)
model_1 = svm.SVC(max_iter=2000)
model_1.fit(x_train_pca,y_train_pca)

SVC(max_iter=2000)

In [80]:
model_1.score(x_train_pca,y_train_pca)

0.6825938566552902

In [88]:
model_1.score(x_test,y_test)

0.673469387755102

In [82]:
x_train_pca,x_test,y_train_pca,y_test= train_test_split(x_pca,y, test_size = 0.2, random_state=20)
model_2 = RandomForestClassifier()
model_2.fit(x_train_pca,y_train_pca)

RandomForestClassifier()

In [84]:
model_2.score(x_train_pca,y_train_pca)

1.0

In [85]:
model_2.score(x_test,y_test)

0.673469387755102