In [9]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [10]:
ft = pd.read_csv('jobsalary.csv')
ft

   Experience_Year  Test_score  Interview_score  salary_doller
0              NaN         8.0                9          50000
1              NaN         8.0                6          45000
2              5.0         6.0                7          60000
3              2.0        10.0               10          65000
4              7.0         9.0                6          70000
5              3.0         7.0               10          62000
6             10.0         NaN                7          72000
7             11.0        10.0                8          80000

In [11]:
import math
Median_Exp = math.floor(ft.Experience_Year.median())
Median_Exp

6

In [12]:
Median_Tsc = math.floor(ft.Test_score.median())
Median_Tsc

8

In [13]:
ft.Experience_Year= ft.Experience_Year.fillna(Median_Exp)
ft.Test_score= ft.Test_score.fillna(Median_Tsc)
ft

   Experience_Year  Test_score  Interview_score  salary_doller
0              6.0         8.0                9          50000
1              6.0         8.0                6          45000
2              5.0         6.0                7          60000
3              2.0        10.0               10          65000
4              7.0         9.0                6          70000
5              3.0         7.0               10          62000
6             10.0         8.0                7          72000
7             11.0        10.0                8          80000

In [17]:
reg = linear_model.LinearRegression()
reg.fit(ft[['Experience_Year', 'Test_score', 'Interview_score']], ft.salary_doller)

LinearRegression()

In [18]:
reg.intercept_

13096.4722822174

In [19]:
reg.coef_

array([2233.11735061, 2241.90064795, 2215.98272138])

In [20]:
reg.predict([[8,7,9]])

array([66598.56011519])