In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [ ]:
def gradient_descent(x,y):
    m_curr = b_curr = 0
    iteration = 10000
    n = len(x)
    learning_rate= 0.08
    for i in range(iteration):
        y_predicted = m_curr*x + b_curr
        cost = (1/n)*sum([val**2 for val in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate*md
        b_curr = b_curr - learning_rate*bd
        print("m= {}, b= {}, cost= {}, iteration= {}".format(m_curr, b_curr, cost, i))
        
x= np.array([1,2,3,4,5])
y= np.array([5,7,9,11,13])

        
gradient_descent(x,y)

In [3]:
ft = pd.read_csv('test_score.csv')
ft

     name  math_1  cs_1
0   David      92    98
1   laura      56    68
2  sanjay      88    81
3     wei      70    80
4    jeff      80    83
5   aamir      49    52
6  Venkat      65    66
7   virat      35    30
8  arthur      66    68
9    paul      67    73

In [ ]:
x1 = np.array(ft.math_1)
x1

In [ ]:
y1 = np.array(ft.cs_1)
y1

In [19]:
def gradient_descent(x1,y1):
    m_curr = b_curr = 0
    iteration = 10
    n = len(x1)
    learning_rate= 0.0001
    for i in range(iteration):
        y_predicted = m_curr*x1 + b_curr
        cost = (1/n)*sum([val**2 for val in (y1-y_predicted)])
        md = -(2/n)*sum(x1*(y1-y_predicted))
        bd = -(2/n)*sum(y1-y_predicted)
        m_curr = m_curr - learning_rate*md
        b_curr = b_curr - learning_rate*bd
        print("m= {}, b= {}, cost= {}, iteration= {}".format(m_curr, b_curr, cost, i))
        
x1 = np.array(ft.math_1)
y1 = np.array(ft.cs_1)

gradient_descent(x1,y1)

m= 0.9891800000000002, b= 0.013980000000000001, cost= 5199.1, iteration= 0
m= 1.0416176032, b= 0.0147417592, cost= 46.3330473650399, iteration= 1
m= 1.0443971065873279, b= 0.014802799669408, cost= 31.852649863558305, iteration= 2
m= 1.0445441606668626, b= 0.014826693765467417, cost= 31.811952059367805, iteration= 3
m= 1.0445516647187705, b= 0.014848618440205038, cost= 31.811832943358482, iteration= 4
m= 1.0445517710206773, b= 0.014870438475874223, cost= 31.81182786237329, iteration= 5
m= 1.0445514851602624, b= 0.0148922527273428, cost= 31.811823101960222, iteration= 6
m= 1.0445511785140886, b= 0.014914066435056226, cost= 31.81181834255699, iteration= 7
m= 1.0445508707693771, b= 0.01493587987682099, cost= 31.811813583265543, iteration= 8
m= 1.0445505629697767, b= 0.014957693067366749, cost= 31.811808824083364, iteration= 9