In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [4]:
data.shape

(918, 12)

In [5]:
data.Cholesterol.mean()

198.7995642701525

In [6]:
L_limit, U_limit = data.Cholesterol.quantile([0.001, 0.999])
L_limit, U_limit

(0.0, 567.2370000000033)

In [7]:
data1 = data[(data.Cholesterol<U_limit) & (data.Cholesterol>L_limit)]
data1.shape

(745, 12)

In [8]:
z_score_max= data1.Cholesterol.mean()+ 3*data1.Cholesterol.std()
z_score_min= data1.Cholesterol.mean()- 3*data1.Cholesterol.std()

In [9]:
z_score_max,z_score_min

(417.2987146588945, 71.01001017332024)

In [10]:
data2 = data1[(data1.Cholesterol>z_score_min) & (data1.Cholesterol<z_score_max)]
data2.shape

(738, 12)

In [11]:
data2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [12]:
data2.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
label = LabelEncoder()

In [15]:
data2['Sex_label']= label.fit_transform(data2['Sex'])

<ipython-input-15-4d729e24bdb2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['Sex_label']= label.fit_transform(data2['Sex'])

In [16]:
data2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_label
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1

In [23]:
data2['RestingECG_label']= label.fit_transform(data2['RestingECG'])
data2["ExerciseAngina_label"]= label.fit_transform(data2["ExerciseAngina"])

<ipython-input-23-75b863eede72>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['RestingECG_label']= label.fit_transform(data2['RestingECG'])
<ipython-input-23-75b863eede72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["ExerciseAngina_label"]= label.fit_transform(data2["ExerciseAngina"])

In [24]:
data2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_label,RestingECG_label,ExerciseAngina_label
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,2,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,1,0

In [25]:
hot_e = pd.get_dummies(data2['ChestPainType'])

In [26]:
hot_e.head()

   ASY  ATA  NAP  TA
0    0    1    0   0
1    0    0    1   0
2    0    1    0   0
3    1    0    0   0
4    0    0    1   0

In [27]:
fd = pd.concat([data2, hot_e], axis='columns')

In [28]:
fd.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_label,RestingECG_label,ExerciseAngina_label,ASY,ATA,NAP,TA
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,0,0,1,0,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,1,0,0,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,2,0,0,1,0,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,1,1,1,0,0,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,1,0,0,0,1,0

In [29]:
fd_1 = fd.drop(['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'], axis='columns')
fd_1.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_label,RestingECG_label,ExerciseAngina_label,ASY,ATA,NAP,TA
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0
1,49,160,180,0,156,1.0,1,0,1,0,0,0,1,0
2,37,130,283,0,98,0.0,0,1,2,0,0,1,0,0
3,48,138,214,0,108,1.5,1,0,1,1,1,0,0,0
4,54,150,195,0,122,0.0,0,1,1,0,0,0,1,0

In [30]:
z_score_max_HR= fd_1.MaxHR.mean()+ 3*fd_1.MaxHR.std()
z_score_min_HR= fd_1.MaxHR.mean()- 3*fd_1.MaxHR.std()

In [31]:
z_score_max_HR,z_score_min_HR

(213.80583014763658, 66.90148692553412)

In [32]:
data3= fd_1[(fd_1.MaxHR<z_score_max_HR) & (fd_1.MaxHR>z_score_min_HR)]
data3.shape

(738, 14)

In [33]:
x= data3.drop('HeartDisease', axis='columns')
y= data3.HeartDisease

In [34]:
from sklearn.preprocessing import StandardScaler
scale= StandardScaler()
x_scaler = scale.fit_transform(x)

In [37]:
print(x_scaler)

[[-1.36112571  0.39857491  0.90576087 ...  1.8635255  -0.54080436
  -0.24253563]
 [-0.41238009  1.55368305 -1.18309025 ... -0.53661729  1.84909753
  -0.24253563]
 [-1.67737425 -0.17897915  0.79077824 ...  1.8635255  -0.54080436
  -0.24253563]
 ...
 [ 0.43094934 -0.17897915 -2.12211507 ... -0.53661729 -0.54080436
  -0.24253563]
 [ 0.43094934 -0.17897915 -0.10991903 ...  1.8635255  -0.54080436
  -0.24253563]
 [-1.57195807  0.2830641  -1.27890911 ... -0.53661729  1.84909753
  -0.24253563]]

In [38]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [39]:
score = cross_val_score(SVC(), x, y, cv=5)
score

array([0.65540541, 0.68918919, 0.72972973, 0.65986395, 0.6462585 ])

In [40]:
score.mean()

0.6760893546607832

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y, stratify=y, random_state=10)

In [46]:
x_train.shape

(553, 13)

In [47]:
x_test.shape

(185, 13)

In [86]:
185/553

0.3345388788426763

In [48]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier

In [59]:
clf = BaggingClassifier(base_estimator=SVC(),n_estimators=100,max_samples=0.85,oob_score=True, random_state=0)

In [60]:
clf.fit(x_train,y_train)
clf.oob_score_

0.6726943942133815

In [65]:
model = BaggingClassifier(base_estimator=SVC(),n_estimators=100,max_samples=0.85,oob_score=True, random_state=0)
scores = cross_val_score(model, x, y, cv=5)
scores.mean()

0.6774315131457989

In [67]:
from sklearn.tree import DecisionTreeClassifier

In [83]:
clf1 = BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators=100,max_samples=0.85,oob_score=True, random_state=2)

In [84]:
scores = cross_val_score(clf1, x, y, cv=5)

In [85]:
scores.mean()

0.8034840963412393